:root {

    --padding: 8%;
}




*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{

    font-family: 'Josefin Sans', sans-serif;
font-size: 16px;
color: aliceblue;

}

.home{

width: 100%;
height: 100vh;
background:black;
display: flex;
flex-direction: column;
}

sanp{
color: blue;
}

h2{
font-size: 2.2rem;
letter-spacing: 0.12rem;
cursor: pointer;


}


h1{
    font-size: 3.65rem;
    margin: 1.7erm 0;
    color: blue;
    }
    
    h3{
        font-size: 1.5rem;
    }
    
    h4{
        font-size: 1.25;
        letter-spacing: 0.12;
    }
    
    
    

nav{


padding: 2.8rem;
padding-left: color blue;
padding-right: color pink;
display: flex;
justify-content: space-between;
align-items: center;
}


nav ul li{  
list-style-type: none;
display: inline-block;
margin: 0.8rem 1.5rem;



}

nav ul li a{
color: aliceblue;
text-decoration: none;
text-transform: capitalize;
transition: 0.4s;


}

nav ul li a:hover{
color: blue;


}

.btn{
background-color: blue;
color: aliceblue;
text-decoration: none;
font-weight: bold;
padding: 0.81rem 1.87rem;
border-radius: 30px;
border: 2px solid transparent;
transition: 0.4s;

}

.btn:hover{
background-color: transparent;
border: 2px solid color blue;
}

.content{
flex-grow: 1;
padding: 0 var(--padding);
align-items: center;
justify-content: space-between;
}

.social{
margin: 3,5rem;

}

.social img{
margin-right: 2rem;
width: 2.5rem;
transition: 0.4s;


}
.social img:hover{
transform: scale(1.2);

}


@media screen and (max-width: 575px) {
    :root{
        padding: var(--padding)1.5rem;
    }

    html{
font-size: 13px;

    }

a.btn{

    display: none;
}
nav ul{
display: none;

}
}






